<h1 class="center title">Form</h1>

<% if @team.errors.any? %>
    <ul>
        <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>



<%= form_for @team do |f| %>
    <div class="form">
        <div class="row">
            <div class="col s12">
                <div class="card-panel center">
                    <div class="input-field col s12">
                        <%= f.label :name, for:"team_name" %>
                        <%= f.text_field :name, class: "validate", id: "team_name" %>
                    </div>
                  

                  

                    <div class="input-field col s12">
                        <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Just me</option>
                        <option value="2">Add more members</option>
                        </select>
                        <label>Team</label>
                    </div>



                    <div class="actions">
                        <a class="waves-effect waves-light btn white-text left"> <%= f.submit%></a>
                    </div>
                    <div>
                        <%= link_to projects_path, class: "waves-effect waves-light btn" do %>
                        <span><i class="material-icons">navigate_before</i></span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% end %>

