
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
  <div class="row">
    <div class="col s12">
        
      <div class="card-panel center">
      <div class="selector">
        <div class="input-field col s12">
          <%= form.label :title, for:"title" %>
          <%= form.text_field :title, class: "validate", id: "title" %>
        </div>

        <div class="input-field col s12">
          <%= form.label :description, for: "description" %>
          <%= form.text_area :description, id: "froala-editor", class: "validate materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <%= form.label :thumbnail, for: "thumbnail" %>
          <%= form.text_field :thumbnail, class: "validate", id: "thumbnail" %>
        </div>

        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Just me</option>
            <option value="2">Add more members</option>
          </select>
          <label>Team</label>
        </div>

        <div class="input-field col s12">
          <%= form.label :team_name, for: "team_name" %>
          <%= form.text_field :team_name, class: "validate", id: "team_name" %>
        </div>

        <div class="input-field col s12">
          <%= form.label :user_ids, "Users" %>
          <%= form.collection_select(
            :user_ids,
            User.order(name: :asc),
            :id,
            :name,
            {},
            {multiple: true, class: 'chosen-select'}
          ) %>
        </div>
  
        <div class="actions">
          <a class="waves-effect waves-light btn white-text left"> <%= form.submit%></a>
        </div>
        <div>
          <%= link_to projects_path, class: "waves-effect waves-light btn" do %>
            <span><i class="material-icons">navigate_before</i></span>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<% end %>

