<section class="center chat-box">
<div class="chat">
    <% @create_messages.each do |message| %>
        <% if message.body %>
            <% user = User.find(message.user_id) %>
            <ul >
                <li class="">
                    <% if user.photo.nil? %>
                        <span class="avatar-chat">
                            <img class="" src="/assets/default-avatar.png">
                        </span>
                    <% else %>    
                        <span class="avatar-chat">
                            <img class="circle avatar-small" src="<%= user&.photo %>">
                        </span>
                    <% end %>    
                    <span class="shoutouts">
                        <span class="shoutout-body">
                            <%= message.body %>
                            <% if message&.private? %>
                                <%= link_to shoutout_create_message_path(@shoutout, message, {is_public: true}), class: "waves-effect waves-light", method: :patch do %>
                                <span><i class="material-icons">remove_circle_outline</i></span>
                                <% end %>
                            <% else %>
                                <%= link_to shoutout_create_message_path(@shoutout, message, {is_public: false}), class: "waves-effect waves-light", method: :patch do %>
                                <span><i class="material-icons">remove_circle</i></span>
                                <% end %>
                            <% end %>
                            <%= link_to shoutout_create_message_path(message.shoutout, message), class: "waves-effect waves-light", method: :delete, data: { id: message.id} do %>
                                <span><i class="material-icons">delete_forever</i></span>
                            <% end %>
                            </span>
                        </span>
                    </span>
                </li>
            </ul>               
        <% end %>
    <% end %>



    <div class="chat-form">
        <%= form_for [@shoutout, @create_message] do |f| %>
        <div class="whatever">
            <div class="field">
                <%= f.text_area :body, class: "form-control form-text" %>
            </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
            <div>
                <%= f.submit "Send", class: "btn submit" %>
            </div>
        </div>
        <% end %>
    </div>

</section>
