<section class=>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form">
      <div class="row">
        <div class="col s12">
          
          <div class="card-panel login">
              <div class="input-field col s12 center">
                <img class="responsive-img logo-login" src="/assets/logo-white-withtext.png">
              </div>
            <div class="input-field col s12">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email text-white" %>
            </div>

            <div class="input-field col s12">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="actions input-field col s12">
              <a class="waves-effect waves-light btn submit"><%= f.submit "Log in" %></a>
            </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</section>
 
