<!DOCTYPE html>
<html>
  <head>
    <title>BrainstorMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 
  </head>

  <body>
    <header class="has-fixed-sidenav">
      <section class="navbar-fixed topnav">
        <%= render partial: "partials/topnav" %>
      </section>
    </header>
    
    <footer>
      <section>
        <%= render partial: "partials/footer" %>
      </section>
    </footer>

    <div class="main-page">
      <% if flash[:notice] %>
  		  <div class="">
  			  <p class="notice"><%= notice %></p>
  		  </div>
  	  <% end %>
  	  <% if flash[:alert] %>
  		  <div class="">
  			  <p class="alert"><%= alert %></p>
  		  </div>
  	  <% end %>

      <%= yield %>
    </div>
  </body>
</html>
